@define-color background rgb(4, 6, 8);
@define-color text rgb(248, 250, 241);

.master {
  font-family: JetbrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  color: rgb(243, 226, 226);
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.termite {
  background-color: #252525;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @text;
}

#workspaces button {
  padding: 0 5px;
  background-color: @background;
  color: @text;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px @text;
}

#workspaces button.active {
  background-color: @text;
  color: @background;
}

#workspaces button.urgent {
  background-color: @background;
}

#mode {
  background-color: @background;
  box-shadow: inset 0 -3px @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: @text;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 5px 5px 0 5px;
  padding: 0px 8px 0px 8px;
  background-color: @background;
  border-radius: 10px;
}

@keyframes blink {
  to {
    background-color: @text;
    color: #000000;
  }
}

